* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

:root {
    --tamanho-minimo: 42px;
    --tamanho-médio: 20px;
    --tamanho-max: 40px;
    --tamanho-max-2: 46px;
    --tmanho-xmax: 71px;
    --color-principal: rgb(248, 234, 239);
}


.topo {
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 700px;
    padding: 20px;

}

img {
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    height: 700px;
}

p {
    font-size: var(--tamanho-médio);
    margin: var(--tamanho-max);
}


h2,
h1 {
    margin-top: 43px;
    margin-left: var(--tamanho-minimo);
    font-size: 30px;
}

h2 {
    color: #75463b;
}

h1 {
    font-size: var(--tamanho-max);
}

.sub-1 {
    color: rgb(245, 59, 124);
    font-size: 26px;
}

.preparacao {
    color: #90516c;
    margin: 10px;
    background-color: #fff7fc;
    border-radius: var(--tamanho-médio);
    border-color: rgb(255, 255, 255);
    border: 0px;
    padding: var(--tamanho-minimo);
}

.instrucao,
.Etapas {
    margin: 10px;
    border-radius: var(--tamanho-médio);
    border: 0px;
    padding: var(--tamanho-minimo);

}

.instrucao {
    padding: var(--tamanho-minimo);
}

li {
    font-size: var(--tamanho-médio);
    margin: 5px;
}

ul {
    margin: var(--tamanho-max-2);
}

td {
    width: 50%;
    margin: var(--tamanho-max);
    padding: 0px;
    font-size: var(--tamanho-médio);
}

.calorias {
    color: #734e45;
}


table {
    margin: var(--tamanho-médio);
}

@media 415px {
    img {
        object-fit: cover;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        width: 100%;
        height: 100%;
    }
}